<h1>Main Menu </h1>

	<h4>Configuration </h4>
		<ul>
			<li><%= link_to "Products", products_path %></li>
			<li><%= link_to "Locations", locations_path %></li>
			<li><%= link_to "Product Location Assignment", product_location_assignments_path %></li>
		</ul>
	<h4>Projections</h4>
