<h1>Reset Password</h1>

  <%= form_for @user, html: {class: "form-horizontal"} do |form| %>
    <%= render partial: "password", locals: {form: form} %>
    <%= submit_tag "Reset Password", class: "btn btn-primary" %>
  <% end %>
