<table class="table table-striped">
  <tr><th> Source Reference</th>  <th>ETD</th> <th>ETA</th> <th>Quantity</th></tr>
  <% movement_sources.each do |movement_source| %>
  <tr>
      <td><%= link_to(movement_source.object_reference_number, polymorphic_path(movement_source))	%></td>
      <td><%= movement_source.etd.to_formatted_s(:short)		%></td>
      <td><%= movement_source.eta.to_formatted_s(:short)		%></td>
      <td><%= number_with_delimiter movement_source.quantity		%></td>
  </tr>
  <% end %>
</table>
