<%= form.label "Products", {class: "col-sm-1 control-label"} %>
<div class="col-md-4">
  <%= form.select :products, @products.collect {|product| [product.name, product.id]}, {}, {multiple: true, class: "form-control chosen-select"}%>
</div>
<script type="text/javascript">
  $("#group_search_products").chosen({search_contains: true});
</script>

