<%= form.label "Product Name", {class: "col-sm-1 control-label"} %>
<script>
$(function() {
    var product_names = [
      <% @products.each do |product| %>
        "<%= product.name %>", 
      <% end %>
    ""];
    $( "#product_names" ).autocomplete({
      source: product_names
    });
});
</script>
<div class="col-sm-2">
  <%= form.text_field :product_name, id: "product_names", value: @product.try(:name), class: "form-control" %>
</div>
