<h1>Create New Order Line</h1>
<h3> Enter Updated Order Line Details</h3>
<%= render partial: "order_line_errors" %>
<%= form_for @order_line do |form| %>
  <%= render partial: "order_line", locals: {form: form} %>
  <%= submit_tag "Update Order Line" %>
<% end %>

