<table>
	<tr><td>Product Name		</td>	<td><%= form.text_field :name 			%></td></tr>
	<tr><td>Product Code		</td>	<td><%= form.text_field :code			%></td></tr>
	<tr><td>Product Category	</td>	<td><%= form.text_field :product_category	%></td></tr>
</table>
