<h1>Edit Location </h1>
	<%= form_for @location do |form| %>
		<%= render partial: "location", locals: {form: form} %>
		<%= submit_tag "Update" %>
	<% end %>
<%= link_to "View Locations", locations_path %>
